.crds{
    display: flex;
    justify-content: center;
}

.card{
    border: 2px solid #568259 !important;
    border-radius: 7px !important;
}

.card-body{
    background-color: #2b2b26;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-title{
    color: #568259;
}

.card-text{
    color: white;
}

.card a{
    background-color: #568259;
    border: 1px solid #568259;
    border-radius: 100px;
}

.card a:hover{
    background-color: #2b2b26;
    border: 1px solid #568259;
    color: #568259;
}

.MPH3{
    color: #568259;
}

@media (max-width: 900px){
    .crds{
        display: grid;
        /* margin-right: 0% !important; */
    }
    .card{
        max-width: 250px;
    }
}